<h1>Recipes Index</h1>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= recipe["title"] %></h5>
          <p class="card-text">Chef: <%= recipe["chef"] %></p>
          <p class="card-text">Ingredients: <%= recipe["ingredients"] %></p>
          <a href="/client/recipes/<%= recipe["id"] %>" class="btn btn-primary">More Info</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
